/*	Font Abril Fatface & Droid Sans

https://fonts.google.com/specimen/Abril+Fatface
https://fonts.google.com/noto/specimen/Noto+Sans
----------------------------------------------------- */
/*	VARIABLES
	BASE
----------------------------------------------------- */
/* ICON PATH
================================================== */
/* TYPEFACE
================================================== */
/* COLOR SCHEME
================================================== */
/* UI COLOR
================================================== */
/* UI
================================================== */
/* Animation
================================================== */
/* GFX
================================================== */


@font-face {
    font-family: 'comic sans';
    font-weight: 400;
    font-display: swap;
  }

.tl-timeline {
  background: black;
}
  
